name: CI/CD (Catalogue + Loans)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"


      - name: Install + Test (catalogue-service)
        working-directory: code/catalogue-service
        run: |
          npm ci
          npm test

      - name: Install + Test (loans-service)
        working-directory: code/loans-service
        run: |
          npm ci
          npm test

  deploy_catalogue:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
        
      - name: Install production deps (catalogue-service)
        working-directory: code/catalogue-service
        run: npm ci --omit=dev
        
      - name: Deploy Catalogue Service to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: cnd-catalogue-test-ct1
          package: code/catalogue-service
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE_CATALOGUE }}
        
  deploy_loans:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
        
      - name: Install production deps (loans-service)
        working-directory: code/loans-service
        run: npm ci --omit=dev
        
      - name: Deploy Loans Service to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: cnd-loans-test-ct1
          package: code/loans-service
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE_LOANS }}
        

